<%- include("header"); -%>
<h1 class="error">It seems no Image were taken by the camera you had entered on this particular sol or rover you entered didn't have the camera you mentioned,go to docs page to know which rover has which camera </h1>
<%- include("footer");   -%>
