
body{
  background-color: hsl(222, 26%, 31%);

}
h1{
  color: white;
}
nav,.btn,.carousel-control-prev-icon,.carousel-control-next-icon,hr,i{
  background-color: #FF3526;
}

.btn,.carousel-content,label,.question,.answer-para,th,td{
  color:white;
}
 .nav-link{
  color:gray;
}

/* home ******************* */
.text{
  
  width: 40%;
  text-align: center;
  margin: 100px auto;
  position: relative;
  bottom: 50px;
}


.button-index-prev{
  position: absolute;
left: -30px;
}
.button-index-next{
  position: absolute;
right: -30px;
}
form{
  width:40%;
  margin: auto;
  position: relative;
  bottom:90px;
  }

label{
font-weight: bold;
}
.btn{
  margin-top: 20px;
}
/* image ********************* */
#image-carousel{
  width:30%;
  height: 30%;
  margin:150px auto;
}

/* docs ********************* */
.question{
  display: inline-block;
 
}
.answer-para{
  
  display: inline-block;
}

th{
  color: white;
}

.faq{
  position: absolute;
  right:25%;
  top:30%;
  width:50%;
  
  border-radius: 10px;
  padding: 20px;

}
.answer{
  display: none;
}

.img-rotate{
  transform: rotate(180deg);
}


.arrow-icon1{
  position: relative;
  right:20px;
}
.arrow-icon2{
  position: relative;
  left:20px;
}


.error{
  width: 30%;
  margin: 150px auto;
}

i{
  position: absolute;
  right:20px;
  background-color: hsl(222, 26%, 31%);
}

@media screen and (max-width:750px) {
  table{
    font-size: 0.75rem;
  }
  #image-carousel{
    width:50%;
  }
 

 form{
   width:80%;
 }

 .text{
  width:70%;
 }
  }
 

 
